<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>ICExtension</key>
			<string>PDF</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.localized-pdf-bundle</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ps</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/postscript</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PostScript</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<string>Yes</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.encapsulated-postscript</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>djvu</string>
				<string>djv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/vnd.djvu</string>
				<string>image/x-dejavu</string>
				<string>image/djvu</string>
				<string>image/x.djvu</string>
				<string>image/x-djvu</string>
				<string>image/x-iw44</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DjVu</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.firmshell.djvu</string>
				<string>com.lizardtech.djvu</string>
				<string>org.djvuzone.djvulibre.djvu</string>
				<string>org.djvu.DjView</string>
				<string>public.data</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fb2</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-fictionbook</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FB2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
